.wrapper {
  position: absolute;
  width: 300px;
  height: 400px;
  right: 10px;
  bottom: 10px;
}

.card {
  height: 100%;
}

.friendOnline{
  width: 200px;
  /* box-shadow: ; */
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;  
  box-shadow: 5px 10px #888888;
}
