.navibar {
    color: black;
    background: black;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #d1d1d1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}


/* Chat box */

.messenger {
    background: white;
    width: 100%;
    font-size: 17px;
    border-radius: 40px 40px 25px 25px;
    margin: 6px;
    box-shadow: 3px 3px 3px 3px lightslategray;
    position: relative;
    padding-bottom: 0px;
}

.message-header {
    position: absolute;
    top: 5px;
    text-align: center;
    width: 100%;
}

.message-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: 500px;
}

.message-text {
    width: fit-content;
    padding: 6px 15px;
    border-radius: 50px;
    background: royalblue;
    color: white;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 65%;
    text-align: left;
}

.message-time {
    font-size: 12px;
    display: inline;
}


/* Message send vs input */

.message-input {
    position: absolute;
    bottom: 0;
}

.messenger input {
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: -20px;
    text-indent: 10px;
}

.messenger button {
    border-radius: 50px;
    margin-right: 10px;
}


/* Button style */

.myButton {
    background: #4CAF50;
    border-radius: 20px;
    margin-bottom: 2px;
    font-size: 18px;
    color: white;
    width: 90%;
}